
#title-cart {
    font-size: 14px;
   
}

.cart-widget-container {
    display: inline-flex;
    width: 40px;
    height: 50px;
}

.quantity {
    margin-top: 0px;
    color: white;
}

.cartItem {
    display: inline-flex;
    margin-left: 20px;
}

.cart-name {
    color: pink;
    margin-left: 40px;
    margin-top: -40px;
    font-size: 24px;
}

.cart-price {
    color: pink;
    margin-left: 40px;
    font-size: 24px;
}

.cart-quantity {
    color: pink;
    margin-left: 40px;
    font-size: 24px;
}

.cart-title {
    color: pink;
    margin-left: 40px;
    font-size: 24px;
}

.cart-color {
    color: pink;
    margin-left: 40px;
    font-size: 24px;
}

.cart-size {
    color: pink;
    margin-left: 40px;
    font-size: 24px;
}

.button-remove {
    margin-left: 40px;
    margin-top: 20px;
    width: 70px;
    height: 40px;
    border-radius: 40px;
    color:white;
    background-color: rgb(103, 24, 103);
}

.button-clear {
    margin-left: 40px;
    margin-top: 20px;
    width: 70px;
    height: 40px;
    border-radius: 40px;
    color:white;
    background-color: rgb(103, 24, 103);
}

.button-terminate {
    margin-left: 10px;
    margin-top: 20px;
    width: 75px;
    height: 40px;
    border-radius: 40px;
    color:white;
    background-color: rgb(103, 24, 103);
}

.cart-message {
    margin-top: 40px;
    color: pink;
    font-size: 24px;
}

.container-total {
    display: inline-flex;
    margin-left: 20px;
}

.total-price {
    color: pink;
    margin-left: 40px;
    font-size: 24px;
}