.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid;
    border-color: white;
    margin-left: 20px;
}

.Welcome {
    text-align: center;
    font-size: 38px;
    font-style: italic;

}

.card {
    border-style: double;
    border-color: rgb(196, 106, 179);
    width: 240px;
    height: 390px;
    margin-left: 4%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
    ;
}

.title {
    text-align: center;
    font-size: 20px;
}

.price {
    text-align: center;
}

.img-card {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 240px;
    border-radius: 120px;
    margin-left: 30px;
    margin-top: 8px;
}

hr {
    border-color: rgb(196, 106, 179);
    border-style: dotted;
}


.swal-overlay {
    background-color: rgba(165, 43, 147, 0.45);
  }

.swal-modal {
    background-color: white;
    border: 3px solid white;
  }

  .swal-title {
    color: black;
    margin: 0px;
    font-size: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
  }

.swal-text {
    background-color:rgba(151, 11, 111, 0.69);;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: white;
  }

  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #6f0257;
    font-size: 12px;
    border: 1px solid #bc1695;
    text-shadow: 0px -1px 0px rgba(170, 23, 129, 0.3); 
  }

  .swal-button--confirm:hover {
      background: black;
      color: white;       
  }


  .seeDetail {
    margin-top: -30px;
    width: 210px;
    height: 30px;
    background-color: white;
    border-style: double;
    color: purple;
    text-align: center;
}

hr {
  border-color: rgb(196, 106, 179);
  border-style: dotted;
  width: 100%;
}