.container-title {
   display: inline-flex;
  }


#logo {
    width: 50%;
    margin-left: 3%;
}

#title {
    padding: 40px;
    margin-left: -10%;
    margin-top: 100px;
    font-style: italic;
    font-size: 45px;
}
  
nav {
    display: inline-flex;
    margin-left: 10%;
    margin-top: -60px;
}

a {
  display: inline-flex;
  font-size: 20px;
  margin-left: 6%;
  color: purple;
  font-family: "Ramaraja", serif;
  font-family: "Spectral", serif;
}

#icon {
    display: inline-flex;
    width: 80px;
    margin-left: 18%;
    margin-top: -40px;
  
}

hr {
    margin-top: 20px;
    color: pink;
}

.navbar {
  color: rgb(196, 106, 179);
  border-radius: 40%;
  background-color: black;
}