.container-title {
   display: inline-flex;
  }


#logo {
    width: 50%;
    margin-left: 3%;
}

h1 {
    margin-top: 120px;;
    margin-left: -5%;
    font-style: italic;
    font-size: 45px;
    /* text-decoration: underline; */
}
  
nav {
    display: inline-flex;
    margin-left: 50%;
    margin-top: -50px;
}

a {
  display: inline-flex;
  font-size: 20px;
  margin-left: 6%;
  color: purple;
  font-family: "Ramaraja", serif;
  font-family: "Spectral", serif;
}

#icon {
    display: inline-flex;
    width: 80px;
    margin-left: 18%;
    margin-top: -40px;
  
}

hr {
    color: pink;
}

.navbar {
  color: rgb(196, 106, 179);
  border-radius: 40%;
  background-color: black;
}